---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=test_zookeeper1&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170827T002346Z
      X-Amz-Content-Sha256:
      - 53fc4bf505da5cb4cb61521b1fb68d81319bdcb6774f2e8e8cc7157c454ca69b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=CWV6L2PSNF8XJA9KYQRM/20170827/us-west-2/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8LTBHGK23D491OZVN5RWPSM7IQA6XCJYF0UE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>c5bfc13b-cc8f-4b08-8bbc-27fd40f0b1d6</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-01107c54156f3adc8</reservationId>
                    <ownerId>000000000000</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-3bdfa749058e1c62</instanceId>
                            <imageId>ami-6e1a0117</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-242-249-62-139.us-west-2.compute.internal</privateDnsName>
                            <dnsName>ec2-113-88-156-227.us-west-2.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>17BYIU9V0H38NLAMEJRCKO</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2017-08-23T00:48:05.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-2a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-17d0be7f</subnetId>
                            <vpcId>vpc-14d0be7c</vpcId>
                            <privateIpAddress>242.249.62.139</privateIpAddress>
                            <ipAddress>113.88.156.227</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-bdf91274</groupId>
                                    <groupName>test_ssh_security_group</groupName>
                                </item>
                                <item>
                                    <groupId>sg-c1431bbb</groupId>
                                    <groupName>test_zookeeper_security_group</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-a739d641c0b825fe</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-08-23T00:48:06.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Group</key>
                                    <value>test_zookeeper</value>
                                </item>
                                <item>
                                    <key>Stage</key>
                                    <value>test</value>
                                </item>
                                <item>
                                    <key>Manager</key>
                                    <value>dlweber</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>test_zookeeper1</value>
                                </item>
                                <item>
                                    <key>Service</key>
                                    <value>zookeeper</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-baf165d9</networkInterfaceId>
                                    <subnetId>subnet-17d0be7f</subnetId>
                                    <vpcId>vpc-14d0be7c</vpcId>
                                    <description/>
                                    <ownerId>000000000000</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:c0:be:81:ae:0e</macAddress>
                                    <privateIpAddress>242.249.62.139</privateIpAddress>
                                    <privateDnsName>ip-242-249-62-139.us-west-2.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-bdf91274</groupId>
                                            <groupName>test_ssh_security_group</groupName>
                                        </item>
                                        <item>
                                            <groupId>sg-c1431bbb</groupId>
                                            <groupName>test_zookeeper_security_group</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-42f95ce6</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2017-08-23T00:48:05.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>113.88.156.227</publicIp>
                                        <publicDnsName>ec2-113-88-156-227.us-west-2.compute.amazonaws.com</publicDnsName>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>242.249.62.139</privateIpAddress>
                                            <privateDnsName>ip-242-249-62-139.us-west-2.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>113.88.156.227</publicIp>
                                            <publicDnsName>ec2-113-88-156-227.us-west-2.compute.amazonaws.com</publicDnsName>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Sun, 27 Aug 2017 00:23:46 GMT
[...]
