---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=test_zookeeper1&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170827T002347Z
      X-Amz-Content-Sha256:
      - 53fc4bf505da5cb4cb61521b1fb68d81319bdcb6774f2e8e8cc7157c454ca69b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=6AG32UZOSXDB4FYNIKRM/20170827/us-west-2/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=Y9MGZ1DA40375EOWJ8XLKNCQU6RFSVB2ITPH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>453ea5a6-daf0-4db5-b434-55f31ccd3c03</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-01107c54156f3adc8</reservationId>
                    <ownerId>000000000000</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-c13f42d6e79a80b5</instanceId>
                            <imageId>ami-6e1a0117</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-138-233-226-245.us-west-2.compute.internal</privateDnsName>
                            <dnsName>ec2-145-162-127-207.us-west-2.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>YPNH2ID7CLKZVX46BTF018</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2017-08-23T00:48:05.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-2a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-17d0be7f</subnetId>
                            <vpcId>vpc-14d0be7c</vpcId>
                            <privateIpAddress>138.233.226.245</privateIpAddress>
                            <ipAddress>145.162.127.207</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-30af5942</groupId>
                                    <groupName>test_ssh_security_group</groupName>
                                </item>
                                <item>
                                    <groupId>sg-c1431bbb</groupId>
                                    <groupName>test_zookeeper_security_group</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-81da5c27639ef0b4</volumeId>
                                        <status>attached</status>
                                        <attachTime>2017-08-23T00:48:06.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Group</key>
                                    <value>test_zookeeper</value>
                                </item>
                                <item>
                                    <key>Stage</key>
                                    <value>test</value>
                                </item>
                                <item>
                                    <key>Manager</key>
                                    <value>dlweber</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>test_zookeeper1</value>
                                </item>
                                <item>
                                    <key>Service</key>
                                    <value>zookeeper</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-5f3c78d0</networkInterfaceId>
                                    <subnetId>subnet-17d0be7f</subnetId>
                                    <vpcId>vpc-14d0be7c</vpcId>
                                    <description/>
                                    <ownerId>000000000000</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:c0:be:81:ae:0e</macAddress>
                                    <privateIpAddress>138.233.226.245</privateIpAddress>
                                    <privateDnsName>ip-138-233-226-245.us-west-2.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-30af5942</groupId>
                                            <groupName>test_ssh_security_group</groupName>
                                        </item>
                                        <item>
                                            <groupId>sg-c1431bbb</groupId>
                                            <groupName>test_zookeeper_security_group</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-ac5682df</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2017-08-23T00:48:05.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>145.162.127.207</publicIp>
                                        <publicDnsName>ec2-145-162-127-207.us-west-2.compute.amazonaws.com</publicDnsName>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>138.233.226.245</privateIpAddress>
                                            <privateDnsName>ip-138-233-226-245.us-west-2.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>145.162.127.207</publicIp>
                                            <publicDnsName>ec2-145-162-127-207.us-west-2.compute.amazonaws.com</publicDnsName>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                    <ipv6AddressesSet/>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                            <enaSupport>true</enaSupport>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Sun, 27 Aug 2017 00:23:47 GMT
[...]
